{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<!--xfComments.html start-->
<jh-layout-v3>

  <template slot="breadcrumbsTitle">
    作业批改
    <span class="body-1 " style="font-weight: bold;">共计【{{userAssignment.assignmentFormItemListWithUser.length}}】个题目</span>
  </template>
  <template slot="serverSearch" class="d-flex flex-column align-center">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" align="center" style="height: 100%;">
      <v-col class="d-flex align-center" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="justify-content: end">
        <span class="mr-2">作业批改-总分【{{assignmentScore}}】</span>
        <v-btn elevation="0" color="primary" dark @click.stop="doUiAction('submitArticleAssignment', {})" >
          保存批改
        </v-btn>
        <v-btn elevation="0" style="margin-left: 20px" color="error" dark @click.stop="doUiAction('submitArticleAssignment', {publish: 'publish'})" >
          提交批改
        </v-btn>
      </v-col>
    </v-row>
  </template>
  <div class="assign-body">
    <form-item-list-review :form-item-list="userAssignment.assignmentFormItemListWithUser" :review-data="reviewData" :action="action" ></form-item-list-review>
  </div>
</jh-layout-v3>


{% endblock %}

{% block vue_body %}

{% include 'component/formItemListReview.html' %}
<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      isMobile: window.innerWidth < 600,
      rightPanels: [0],
      userAssignment: {
        assignmentFormItemListWithUser: []
      },
      articleAssignmentList: [],
      article: {},
      userInfo: {},
      action: '',
      assignmentId: '',
      reviewData: {},
      assignmentList: [],
      assignmentScore: 0
    }),
    created() {
      const urlParams = new URLSearchParams(location.search);
      this.assignmentId = urlParams.get('assignmentId');
      this.action = urlParams.get('action');
      this.doUiAction('mineAssignment');
    },
    watch: {
      articleNote: {
        deep: true,
        handler(value) { }
      },
      reviewData: {
        deep: true,
        handler() {
          this.reBuildAssignmentScore();
        }
      }
    },
    mounted() {
    },
    methods: {
      async doUiAction(actionId, uiActionData) {
        switch (actionId) {
          case 'mineAssignment':
            await this.mineAssignment(uiActionData);
            await this.assignmentData(uiActionData);
            break;
          case 'submitArticleAssignment':
            await this.prepareValidate(uiActionData);
            await this.submitArticleAssignment(uiActionData);
            await this.refreshData(uiActionData);
            break;
          default:
            console.error("[doUiAction] actionId not find", { actionId });
            break;
        }
      },
      reBuildAssignmentScore() {
        let score = 0;
        for(const key in this.reviewData) {
          score += parseInt(this.reviewData[key].score || 0)
        }
        this.assignmentScore = score;
      },
      /**
       * uiActionId:  mineAssignment
       * description: ✅获取用户作业
       * main:   [{"function":"mineAssignment"}]
      */
      async mineAssignment() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'assignmentReview',
              actionId: 'selectItemList',
              where: { assignmentId:  this.assignmentId }
            }
          }
        });
        this.assignmentList = result.data.appData.rows || [];
      },

      // 处理作业数据
      async assignmentData(){
        const { assignmentList } = this;
        if (assignmentList.length) {
          const userAssignment = assignmentList[0];
          let { assignmentFormItemListWithUser, assignmentFormItemListWithAnswer, assignmentReview } = userAssignment;
          assignmentFormItemListWithUser = JSON.parse(assignmentFormItemListWithUser || '[]');
          assignmentFormItemListWithAnswer = JSON.parse(assignmentFormItemListWithAnswer || '[]');
          assignmentReview = JSON.parse(assignmentReview || '{}');
          for (const [i, formItemWithUser] of assignmentFormItemListWithUser.entries()) {
              const formItemWithAnswer = assignmentFormItemListWithAnswer[i];
              const answerData = formItemWithAnswer.answerData || {};
              formItemWithUser.answerData = answerData;
              formItemWithUser.answerString = this.getAnswerString(formItemWithUser.component.title, answerData);
              formItemWithUser.isRight = !Object.keys(formItemWithUser.userData).some(e => {
                return formItemWithUser.userData[e] !== answerData[e];
              });
              if (!assignmentReview[formItemWithUser.id]) {
                assignmentReview[formItemWithUser.id] = {
                  score: '',
                  comment: ''
                }
              }
              formItemWithUser.reviewData = formItemWithUser.reviewData || {};
          }
          this.reviewData = assignmentReview;
          userAssignment.assignmentFormItemListWithUser = assignmentFormItemListWithUser;
          this.userAssignment = userAssignment;
        }
      },

      getAnswerString(type, data) {
        switch (type) {
          case "单选":
            return data.selected;
          case "多选":
            return Object.keys(data).join(',');
          case "问答":
            return data.answer;
          default :
            return 'default';
        }
      },


      // 验证
      async prepareValidate({ publish }) {
        const { assignmentSubmitStatus } = this.userAssignment;
        if (!this.assignmentId) {
          window.vtoast.fail("数据异常");
          return false;
        }
        if (publish && !assignmentSubmitStatus) {
          window.vtoast.fail("用户尚未提交作业，禁止提交批改");
          return false;
        }
      },

      /**
       * uiActionId:  submitArticleAssignment
       * description: ✅提交作业
       * main:   [{"vueComponent":"homework","function":"submitArticleAssignment"}]
      */
      async submitArticleAssignment ({ publish }) {
        const { assignmentId, assignmentFormItemListWithUser, assignmentReviewStatus, assignmentSubmitStatus } = this.userAssignment;

        window.vtoast.loading("保存中...");
        const actionData = {
          assignmentReview: JSON.stringify(this.reviewData),
          assignmentScore: this.assignmentScore,
          assignmentId
        }
        if (publish) {
          actionData.assignmentReviewStatus = publish;
        }
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "assignmentReview",
              actionId: "updateItem",
              where: { assignmentId },
              actionData
            }
          }
        })
        window.vtoast.success(publish ? "提交成功":"保存成功");
      },

      async refreshData() {
        this.doUiAction('mineAssignment');
      },
      dayjs: dayjs
    }
  })
</script>
<style>
@media screen and (max-width: 600px) {
    .right-box {
        padding-bottom: 130px !important;
    }
}

.right-box .v-expansion-panel .v-expansion-panel-header {
    min-height: auto;
}
.right-box .v-expansion-panel-content__wrap {
    padding: 0px;
}

.right-box .v-expansion-panel .v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
    display: inline-block;
    min-width: 24px;
}
.v-list-item {
    height: unset;
}
</style>
<!--xfComments.html end-->

{% endblock %}
